################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/chat/.vs/chat/v15/Server/sqlite3/db.lock
